/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* #hero{
    display: flex;
} */
/* #h-h{
    margin-top: 10%;
    margin-left: 7%;
}
.h-h>h1{
    color: blue;
    font-family: fantasy;
}
.h-i{
    margin-right: 50px;
}

#choos{
    display: flex;
} */
.footer{
    background-color: black;
    color: white;
}
